@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Medium.eot');
    src: url('subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Medium.woff2') format('woff2'),
        url('subset-Roboto-Medium.woff') format('woff'),
        url('subset-Roboto-Medium.ttf') format('truetype'),
        url('subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.eot');
    src: url('subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype'),
        url('subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Bold.eot');
    src: url('subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Bold.woff2') format('woff2'),
        url('subset-Roboto-Bold.woff') format('woff'),
        url('subset-Roboto-Bold.ttf') format('truetype'),
        url('subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

* {
    box-sizing: border-box;
}

.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: #E5E5E5;
}

.navigation{
    text-align: center;
    padding: 17px 0 16px 0;
}

.link{
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

.item{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.logo{
    float: left;
    padding: 20px 0 20px 0;
}

.contact{
    float:right
}

.clearfix{
    clear: both;
}

.logo-title{
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    margin-top: 21px;
    margin-left: 20px;
}

.logo-icon{
    display: block;
}

.logo-link{
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.phone{
    display: inline-block;
    vertical-align: top;
    padding: 50px 0 51px 0;
}

.phone-link{
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.call-back{
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    background-color: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin: 40px 0 40px 40px;
    padding: 12px 26px 13px 27px;
}

.call-back:hover{
    background-color: #f7d9e2;
    cursor: pointer;
}

.line{
    height: 1px;
    background-color: #EFEFEF;
}

.category{
    padding: 30px 0 30px 0;
    text-align: center;
}

.category-item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}

.promotion{
    background-image: url(images/promotion.png);
    background-position: center center;
    height: 604px;
    padding: 192px 0 193px 0;
}

.promotion-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.promotion-text{
    color: #FFFFFF;
    width: 308px;
    margin-bottom: 50px;
}

.pink-button{
    display: inline-block;
    text-decoration: none;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    background-color: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 46px 13px 47px;
}

.pink-button:hover{
    background-color: #b4395c;
}

.goods{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E5E5;
}

.goods-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 38px;
}

.goods-item{
    display: inline-block;
    vertical-align: top;
    width: 255px;
    background-color: #FFFFFF;
    padding: 25px 30px 25px 30px;
    margin-right: 30px;
}

.goods-icon{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.goods-description{
    text-align: center;
    margin-bottom: 20px;
}

.price{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.pink-button.buy{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    border: none;
    border-radius: 30px;
    padding: 9px 40px 9px 40px
}

.goods-item.last{
    margin-right: 0;
}

.cards{
    background-color: #E5E5E5;
    padding-bottom: 100px;
}

.card{
    background-color: #F13C6E;
    width: 540px;
    padding: 35px 45px 35px 40px;
}

.card.bonus{
    float: left;  
}

.card.shop{
    float: right;
}

.card-info{
    float: left;
    width: 270px;
}

.card-info.shop{
    width: 230px;
}

.card-icon{
    float: right; 
}

.card-icon.vehicle{
    margin-top: 20px;
}

.card-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.card-text{
    color: #FFFFFF;
    margin-bottom: 25px;
}

.email{
    border: none;
    border-radius: 30px;
    padding: 10px 25px 
}

.email::placeholder{
    color: #C4C4C4;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.pink-button.map{
    padding: 8px 30px 7px 30px;
    letter-spacing: none;
}

table{
    border: 1px solid #a89e9e;
    background-color: #FFFFFF;
}

td{
    border: 1px solid #a89e9e;
    padding: 35px 65px
}

.clients{
    background-color: #E5E5E5;;
}

.client-link{
    display: block;
}

.popular{
    padding: 60px 0;
}

.popular-item{
    display: inline-block;
    vertical-align: top;
    width: 255px;
    margin-right: 30px;
}

.popular-item.last{
    margin-right: 0;
}

.popular-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 100px;
    margin-bottom: 30px;
}

.popular-category-list{
margin-top: 25px;
}

.popular-category-link{
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}

.social-contact{
    padding: 40px 0;
}
.social-media{
    float: left;
}

.social-media-icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.call-back.last{
    margin-top: 0;
    margin-bottom: 0;
}

.phone.last{
    padding: 0;
    vertical-align: top;
    margin-top: 13px;
}

.social-media-icon:hover{
    background-color: #e298ad;
}

.copyright{
    padding: 25px 0;
    background-color: #E5E5E5;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.copyright-text{
    float: left;
}

.confidential{
    float: right;
}

.confidential-link{
    text-decoration: none;
}